@font-face {
	font-family: 'Bergamasco Light';
	src: url(/fonts/ofont.ru_Bergamasco);
	font-weight: normal;
}
body {
	font-family: 'Bergamasco Light';
	margin: 0;
	padding: 0;

	background: -webkit-linear-gradient(to left, #c881d9, #d98192, #8192d9);
	background: linear-gradient(to left, #c881d9, #d98192, #8192d9);
	min-width: 360px;
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin-block: 50px;
	padding-inline: 20px;
}

.logo__image {
	width: 100px;
	aspect-ratio: 1;
	border-radius: 25%;
}

.search-container {
	margin: 20px;
}
.search-res {
	font-family: 'Bergamasco Light';
}
.search-input {
	font-family: 'Bergamasco Light';
	padding: 10px;
	margin-right: 10px;
	width: calc(50% - 15px);
	border: 1px solid #81bed9;
	border-radius: 5px;
}

.search-button {
	font-family: 'Bergamasco Light';
	padding: 10px 20px;
	border: none;
	background-color: #c881d9;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.results-container {
	display: grid;
	grid-template: auto / repeat(3, 1fr);
	gap: 20px;

	padding: 10px;
}
.result-card {
	border: 1px solid black;
	border-radius: 10px;

	padding: 15px;
	overflow: hidden;

	transition-duration: .3s;
}
.result-card:hover {
	box-shadow: 0 0 15px black;
	translate: 0 -5px;
}

.result-title {
	font-size: 28px;
}
.result-label {
	font-size: 20px;
}